@font-face {
    font-family: myFont;
    src: url(./ArchitectsDaughter-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../images/background-image.jpg);
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'myFont';
}

#content {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

header {
    position: fixed;
    top: 0;
    width: 100vw;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);

    .restaurant-name {
        padding-left: 60px;
        color: white;
    }
    .menu {
        display: flex;
        justify-content: space-around;
        padding-left: 60px;
        padding-right: 60px;
        color: white;
    }
}

main {
    .main-content {
        display: flex;
        flex-direction: column;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.6);
        gap: 20px;
        .message-title {
            font-size: 100px;
            color: white;
            text-shadow: #FC0 1px 0 10px;
        }
        .message {
            font-size: 40px;
            color: white;
            text-shadow: #FC0 1px 0 10px;
        }
    }
}

footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    font-size: 15px;
}

.active {
    border-bottom: 2px solid yellow;
}

.menu-item_image {
    width: 400px;
    height: 300px;
}

.menu-content {
    display: flex;
    justify-content: center;

    .restaurant-menu {
        width: 80%;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.6);
        color: white;
        h1 {
            font-size: 50px;
            margin: 0;
            padding-top: 60px;
            padding-bottom: 20px;
        }
        .restaurant-menu__block {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
            gap: 20px;
        }

}
}