@font-face {
    font-family: myFont;
    src: url(./ArchitectsDaughter-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../images/background-image.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'myFont';
}

#content {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

header {
    position: fixed;
    top: 0;
    width: 100vw;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.9);

    .restaurant-name {
        padding-left: 60px;
        color: white;
    }

    h1 {
        cursor: pointer;
    }

    nav {
        display: flex;
        justify-content: space-around;
        padding-left: 60px;
        padding-right: 60px;
        color: white;
        gap: 20px;

        .nav__item {
            background: none;
            border: none;
            color: white;
            font-size: 30px;
            cursor: pointer;
        }

        .nav__item:hover {
            border-bottom: 2px solid yellow;
            transition: .2s;
        }

        .active {
            border-bottom: 2px solid yellow;
        }
    }
}


.home-content {
    height: calc(100vh - 40px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    .message-title {
        font-size: 100px;
        color: white;
        text-shadow: #FC0 1px 0 10px;
        background-color: rgba(0, 0, 0, 0.6);
    }

    .message {
        font-size: 40px;
        color: white;
        text-shadow: #FC0 1px 0 10px;
        background-color: rgba(0, 0, 0, 0.6);
    }
}

footer {
    margin-top: auto;
    bottom: 0;
    width: 100vw;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    font-size: 15px;
}

.menu-item_image {
    width: 400px;
    height: 300px;
}

.menu-item_image:hover {
    width: 420px;
    height: 320px;
    transition: .2s ease-in-out;
}


.menu-content {
    padding-top: 120px;
    padding-bottom: 120px;
    display: flex;
    justify-content: center;
    height: 80%;

    .restaurant-menu {
        width: 80%;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.6);
        color: white;

        h1 {
            font-size: 50px;
            margin: 0;
            padding-top: 60px;
            padding-bottom: 20px;
            text-shadow: #FC0 1px 0 10px;
        }

        .restaurant-menu__block {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
            gap: 60px;
        }

    }
}

.about {
    margin-top: 120px;
    margin-bottom: 60px;

    .about__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.6);
        padding: 30px;
        gap: 30px;

        .about__highlight {
            display: flex;
            gap: 30px;

            .about__highlight-text {
                width: 500px;
                color: white;

                h1 {
                    position: relative;
                    font-size: 36px;
                    font-style: italic;
                }

                h1::after {
                    position: absolute;
                    bottom: 0;
                    left: 0;

                    width: 100%;
                    height: 2px;

                    background-color: #FC0;
                    content: '';
                }

                p {
                    font-size: 21px;
                    font-style: italic;
                }
            }

            img {
                width: 500px;
                height: 300px;
            }

            img:hover {
                width: 520px;
                height: 320px;
                transition: .2s ease-in-out;
            }
        }
    }
}

.contacts {
    display: flex;
    justify-content: center;
    margin-top: 120px;
    margin-bottom: 60px;
    .contacts__wrapper {
        padding: 30px;
        width: 700px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        color: white;
        background-color: rgba(0, 0, 0, 0.6);

        h1 {
            margin: 0;
            border-bottom: 2px solid yellow;
        }

        h2 {
            margin: 0;
            border-bottom: 2px solid yellow;
        }

        .contacts__location-img {
            width: 500px;
            height: auto;
        }

        .contacts__social-networks {
            display: flex;
            gap: 30px;
        }
    }
}